{% extends "appcoder/padre.html" %}

{% block titulo %} CoderHouse| Historia {% endblock %}

{% block ContenidoQueCambia2 %} <h1 class="mb-5">Breve Resumen !!</h1>{% endblock %}

{% block ContenidoQueCambia %}

{% block IconsGrid %}{% endblock %}

<h1> La idea era subir una pagina de microemprendimiento, las imagenes se ven mal porque ya no me daba mañas para el
    html solo hasta donde pude </h1>
<h2>Bueno la idea y las fotos son de mi propia creacion, ya que era un emprendimiento personal hasta que pasaron
    cosas , aprendi mucho y espero
    verlos en otra comision, especialmente a enzo que es un crack, me enseñaste y aprendi mucho ya que empece sabiendo
    nada!! Gracias de corazon! </h2>
{% endblock %}

{% block Footer %}{% endblock %}